<div *ngIf="isLoading | async" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!(isLoading | async)" class="container p-5">
  <div class="card mt-5 bg-light">
    <h1 class="card-title fs-1 text-center my-3">{{ oneCar?.brand | uppercase }}</h1>
    <img [src]="oneCar?.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title fs-1 text-center">{{ oneCar?.model | uppercase }}</h1>
      <p class="card-text text-center fs-5">{{ oneCar?.label }}</p>
      <div class="container my-4">
        <div class="row">
          <div class="col text-center">
            <p class="badge bg-primary fs-3">{{ oneCar?.year }}</p>
          </div>
          <div class="col text-center">
            <p class="badge bg-success fs-3">{{ oneCar?.price | currency: 'USD' }}</p>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Specification</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let specification of oneCar?.specifications">
            <td>{{ specification.title }}</td>
            <td>{{ specification.data }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>