<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Rental Car Online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mx-lg-5">
        <li *ngFor="let brand of brandsList | async" class="nav-item mx-lg-3">
          <a class="nav-link hand-pointer" aria-current="page" routerLink="/dashboard" (click)="filterBrand(brand)">{{ brand | uppercase }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand-pointer" aria-current="page" routerLink="/dashboard" (click)="filterBrand('')">ALL</a>
        </li>
      </ul>
    </div>
  </div>
</nav>