<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://di-uploads-pod33.dealerinspire.com/faulknerhonda/uploads/2021/03/2021-Honda-Accord-Hybrid-Banner-1024x300.png" class="d-block w-100"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2><strong>Amazing Adventures</strong></h2>
        <p>Rent your car today, enjoy the ride, and pay this later</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://cdn.racingnews.co/wp-content/uploads/2016/10/2017-Honda-Civic-Type-R-Headlight-and-Wheel-Photo-1-1024x300.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2><strong>Amazing Adventures</strong></h2>
        <p>Rent your car today, enjoy the ride, and pay this later</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://di-uploads-pod23.dealerinspire.com/faulknerbmw/uploads/2019/09/finedata_A02454342-2-1024x300.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2><strong>Amazing Adventures</strong></h2>
        <p>Rent your car today, enjoy the ride, and pay this later</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
