<div *ngIf="isLoading | async" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!(isLoading | async)" class="container p-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <p class="badge rounded-pill bg-warning text-dark mt-md-5 mt-0">* Monthly rental price</p>
      <div *ngIf="isDataFilterBrand | async">
        <a class="link-primary hand-pointer" (click)="deleteFilterBrand()">See all cars</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mt-5">
        <span class="input-group-text" id="basic-addon1">Search Brand</span>
        <input #searchBrand [ngModel]="valueToSearch" (ngModelChange)="valueToSearch=$event" type="text" class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div *ngFor="let car of carsList | async | filterCarByBrand:valueToSearch" class="col hand-pointer" (click)="oneCarSelected(car.brand, car.id)">
      <div class="card h-100">
        <img [src]="car.img" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title text-center">{{ car.model }}</h5>
          <div class="row">
            <div class="col text-end">
              <p class="badge bg-primary">{{ car.brand | uppercase }}</p>
            </div>
            <div class="col text-start">
              <p class="badge bg-success">{{ car.year | uppercase }}</p>
            </div>
          </div>
        </div>
        <div class="card-footer bg-dark">
          <p class="text-end fs-6 mb-0 text-light">{{ car.price | currency:'USD' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>